<form>
  <div class="header">
    <div class="empty"></div>
    {{#each classes}}
    <div class="label" data-tooltip="{{name}}">{{name}}</div>
    {{/each}}
  </div>

  <div class="filter">
    <input type="text" id="spell-list-filter" placeholder="{{localize 'CLASS_PAGES.Search'}}">
  </div>

  <div class="spells">
    {{#each spells}}
    <div class="form-group stacked" data-uuid="{{uuid}}">
      <a class="label" data-tooltip="{{name}}" data-action="render">{{name}}</a>
      {{#each classes as |has key|}}
      <label class="checkbox">
        <input type="checkbox" value="{{../uuid}}" name="{{key}}" {{checked has}}>
      </label>
      {{/each}}
    </div>
    {{/each}}
  </div>

  <button type="submit">
    <i class="fa-solid fa-save"></i> {{localize "Save"}}
  </button>
</form>
