<div class="content">

  <div class="class-nav">
    <button data-action="left"><i class="fa-solid fa-arrow-left"></i></button>
    <div class="gallery">
      {{#each classes}}
      <img src="{{img}}" data-tooltip="{{name}}" data-id="{{identifier}}" data-action="swap-page" {{#if (eq identifier ../identifier)}}class="active"{{/if}}>
      {{/each}}
    </div>
    <button data-action="right"><i class="fa-solid fa-arrow-right"></i></button>
  </div>

  <div class="page">
    <nav class="sheet-tabs tabs" data-group="subpage" aria-role="Form Tab Navigation">
      <a class="item" data-tab="class">{{class.name}}</a>
      <a class="item" data-tab="subclasses">{{localize subclassLabel}}</a>
      {{#if spells.length}}<a class="item" data-tab="spells">{{localize "CLASS_PAGES.SpellLists"}}</a>{{/if}}
    </nav>

    <div class="subpage">
      <!-- Class page -->
      <div class="class tab" data-group="subpage" data-tab="class">
        <div class="class">
          {{#if backdrop}}<img class="backdrop" src="{{backdrop}}">{{/if}}
          <div class="item">
            <a class="content-link" data-link="" draggable="true" data-uuid="{{class.uuid}}" data-id="{{class.id}}" data-pack="{{class.pack}}">
              {{class.name}}
            </a>
          </div>
          <div class="description">{{{class.desc}}}</div>
        </div>
      </div>

      <!-- Subclasses -->
      <div class="subclasses tab" data-group="subpage" data-tab="subclasses">
        {{#each subclasses}}
        <div class="subclass">
          <div class="item">
            <img class="image" src="{{img}}">
            <a class="content-link" data-link="" draggable="true" data-uuid="{{uuid}}" data-id="{{id}}" data-pack="{{pack}}">
              {{name}}
            </a>
          </div>
          <div class="description">{{{desc}}}</div>
        </div>
        {{/each}}
      </div>

      <!-- Spell list -->
      {{#if spells.length}}
      <div class="spells tab" data-group="subpage" data-tab="spells">
        <nav class="sheet-tabs tabs" data-group="spells" aria-role="Form Tab Navigation">
          {{#each spells}}
          <a class="item" data-tab="spell{{level}}">{{label}}</a>
          {{/each}}
        </nav>

        <div class="schools">
          {{#each schools}}
          <label class="checkbox"><input type="checkbox" data-school="{{@key}}">{{this.label}}</label>
          {{/each}}
        </div>

        <div class="subsubpage">
          {{#each spells}}
          <div class="tab spell-level" data-group="spells" data-tab="spell{{level}}">
            {{#each spells}}
            <div class="spell" data-level="{{level}}" data-school="{{school}}">
              <h4 data-uuid="{{uuid}}" data-action="toggle-item">
                <img class="image" src="{{img}}">
                <div class="item">
                  <a class="content-link" data-link="" draggable="true" data-uuid="{{uuid}}" data-id="{{id}}" data-pack="{{pack}}">
                    {{name}}
                  </a>
                </div>
              </h4>
            </div>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>

</div>
