<div class="content">
  <p class="details">{{localize "CLASS_PAGES.SettingsPacksDetails"}}</p>
  <button data-action="packs">
    <i class="fa-solid fa-cog"></i> {{localize "CLASS_PAGES.SettingsPacks"}}
  </button>

  <p class="details">{{localize "CLASS_PAGES.SettingsArtDetails"}}</p>
  <button data-action="art">
    <i class="fa-solid fa-cog"></i> {{localize "CLASS_PAGES.SettingsArt"}}
  </button>

  <p class="details">{{localize "CLASS_PAGES.SettingsListsDetails"}}</p>
  <button data-action="lists">
    <i class="fa-solid fa-rectangle-list"></i> {{localize "CLASS_PAGES.SettingsLists"}}
  </button>

  <p class="details">{{localize "CLASS_PAGES.SettingsDownloadDetails"}}</p>
  <button data-action="download">
    <i class="fa-solid fa-download"></i> {{localize "CLASS_PAGES.SettingsDownload"}}
  </button>

  <p class="details">{{localize "CLASS_PAGES.SettingsOverrideDetails"}}</p>
  <input name="override" type="file" accept=".json">
  <button data-action="override">
    <i class="fa-solid fa-warning"></i> {{localize "CLASS_PAGES.SettingsOverride"}}
  </button>

  <p class="details">{{localize "CLASS_PAGES.SettingsMergeDetails"}}</p>
  <input name="merge" type="file" accept=".json">
  <button data-action="merge">
    <i class="fa-solid fa-warning"></i> {{localize "CLASS_PAGES.SettingsMerge"}}
  </button>
</div>
